<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DefaultStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=bobshare;AccountKey=ASECz9I937jBq7T/1JfSrWCev/Wssg0l5haH9XBm/9VVnRr5LKHolW3PUlrT0qZoe5o3UqpjOBLm2zP7/iAJAA=="/>
    <add key="BitlyKey" value="3f417603d435fdaab647cbecf669b850d85fb67f" />
  </appSettings>
</configuration>